.light-mode
{
    color: #555;
    background-color: #fefefe;
    border-bottom-color: #555;
}

a
{
    color: #555;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

button
{
    background-color: #fefefe;
    color: #555;
    border-color: #555;
}

button:hover
{
    color: #fefefe;
    background-color: #92cc84;
}